# /etc/systemd/system/openvas.service

# https://stackoverflow.com/questions/43671482/how-to-run-docker-compose-up-d-at-system-start-up

[Unit]
Description=Openvas Scanner Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
Environment=COMPOSE_HTTP_TIMEOUT=200
User=docker
Group=docker
WorkingDirectory=/data/
ExecStart=/usr/local/bin/docker-compose -f docker-compose.slave.yml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.slave.yml down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target